.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}
.active-pink-3 input[type="text"] {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}

.display-body {
  margin-top: 100px;
}
.d-block {
  height: 300px;
}
.card-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px auto;
}
.carousel-indicators {
  z-index: 0;
}
