.product-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-content: center;
  column-gap: 30px;
  row-gap: 20px;
}
.cartdisp {
  /* margin-top: -5px; */
}
.nav-link {
  color: white;
  font-size: 20px;
}
.navbar-nav {
  align-items: center;
}
.my-nav {
  display: flex;
  column-gap: 10px;
}
.my-link-first {
  margin-left: 15px;
}
.my-Link {
  color: white;
  font-size: 20px;
}
.table-image {
  width: 50px;
  height: 55px;
}
.cartPage-span {
  margin: 0px 10px;
}
.cartPage-table {
  margin-top: 10px;
}
.carPage-empty {
  height: 500px;
  display: flex;
  margin: 0 auto;
  place-content: center;
  align-items: center;
}
.invalid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.total-cal {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.default-card {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  box-shadow: 2px 2px 5px blue;
  align-items: center;
  width: 200px;
  height: 100px;
  border: 1px solid blue;
}
.card-num {
  color: red;
  font-weight: bold;
}
