.MuiPaper-root {
  background-color: blue;
}
.login-wrapper {
  width: 50%;
  margin: auto;
  border: 2px solid #dadada;
  background-color: white;
  border-radius: 7px;
  padding: 10px;
}
.login-wrapper:focus {
  outline: none;

  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.general-signup:hover {
  cursor: pointer;
}
@media (max-width: 700px) {
  .login-wrapper {
    width: 80%;
    margin: auto;
  }
}
