.orders-table {
  width: 100px;
  height: 100px;
}
.main-table {
  display: none;
  display: block;
  /* visibility: hidden; */
}
.add-product-form {
  padding: 2%;
  margin: 2% 10%;
  border: 2px solid black;
  /* box-shadow: 10px 10px 10px black; */
}
